<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Deposit or withdraw money to or from your wallet</h5>
    <p class="card-text text-secondary">Use negative amount to withdraw money</p>
    <form [formGroup]="walletForm" class="form-group row no-gutters justify-content-center">
      <div class="col-4">
        <input type="number" formControlName="amount" id="amount" class="form-control">
        <div *ngIf="walletForm?.invalid && (f.amount?.dirty || f.amount?.touched) || totalAmountError"
             class="alert alert-danger">
          <div *ngIf="f.amount?.errors?.required">
            Amount is required.
          </div>
          <div *ngIf="totalAmountError">
            You do not have enough money.
          </div>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-info"
            (click)="performTransaction()">
      {{walletForm?.value?.amount >= 0? 'Deposit': 'Withdraw'}}
    </button>
  </div>

  <div class="card-body">
    <div class="card-header text-left font-weight-bold">Transaction history</div>
    <div class="row no-gutters border-bottom pt-2 pb-2"
         *ngFor="let transaction of transactions$ | async">
      <div class="col-6 text-left border-right pl-3">{{transaction.date| date: 'short'}}</div>
      <div class="col-6 text-left pl-3">{{transaction.amount| currency}}</div>
    </div>
  </div>
</div>
