<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Deposit or withdraw money to or from your wallet</h5>
    <p class="card-text text-secondary">Use negative amount to withdraw money</p>
    <form [formGroup]="walletForm" class="form-group row no-gutters justify-content-center">
      <div class="col-4">
        <input type="number" formControlName="amount" id="amount" class="form-control">
        <div *ngIf="walletForm?.invalid && (f.amount?.dirty || f.amount?.touched) || totalAmountError"
             class="alert alert-danger">
          <div *ngIf="f.amount?.errors?.required">
            Amount is required.
          </div>
          <div *ngIf="totalAmountError">
            You do not have enough money.
          </div>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-info"
            (click)="performTransaction()">
      {{walletForm?.value?.amount >= 0? 'Deposit': 'Withdraw'}}
    </button>
  </div>
</div>
